.circle-card h3 {
    color: #000;
    text-align: center;
}

.circle {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 200px;
}

.circle {
    background: #7affed;
    border-radius: 50%;
    margin: 10px;
    height: 200px;
    width: 200px;

    box-shadow: 0 0 0 0 #7affed;
    transform: scale(4);
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px #7affed;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


.text {
    margin: auto;
    font-size: 3rem;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .circle {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

    .text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .circle {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    .text {
        font-size: 1.5rem;
    }
}