.student-main {
    /* background-color: #1E2833; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

div.title {
    margin: 100px auto 40px;
    text-align: center;
}

div.title h3 {
    /* background: #1b1919; */
    /* background-color: #da0000; */
    background-color: #1e2833;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 9px;
    padding: 13px;
    display: flex;
    align-items: center;
}

div.title i {
    margin-left: 10px;
}

.container {
    /* background-color: #dfeaf3; */
}