.survey-list .container{
	margin-bottom: 5vh;
}
.survey--container {
	background: #654ea3;
	background: linear-gradient(to right, #e96443, #904e95);
	min-height: 100vh
}
a {
	text-decoration: none;
}
