.title {
    display: flex;
    justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1e2833 !important;
    color: #fff !important;
}
/* 
.nav-item a {
    color: #1e2833 !important;
} */