/* body{
	margin-top:20px;
	background: #f8f8f8;
} */
.cardForm--container {
	background: #654ea3;
	background: linear-gradient(to right, #e96443, #904e95);
	min-height: 100vh
}
.todo-nav {
	margin-top: 10px
}
.todo-item .checker {
	margin: 10px;
}
.todo-list {
	margin: 10px 0
}

.todo-list .todo-item {
	padding: 15px;
	margin: 5px 0;
	border-radius: 0;
	background: #f7f7f7
}

.todo-list.only-active .todo-item.complete {
	display: none
}

.todo-list.only-active .todo-item:not(.complete) {
	display: block
}

.todo-list.only-complete .todo-item:not(.complete) {
	display: none
}

.todo-list.only-complete .todo-item.complete {
	display: block
}

.todo-list .todo-item.complete span {
	text-decoration: line-through
	/* margin: */
}

.remove-todo-item {
	color: #ccc;
	visibility: hidden
}

.remove-todo-item:hover {
	color: #5f5f5f
}

.todo-item:hover .remove-todo-item {
	visibility: visible
}

div.checker {
	width: 18px;
	height: 18px
}

div.checker input,
div.checker span {
	width: 18px;
	height: 18px
}

div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	zoom: 1;
	text-align: center;
	background-position: 0 -260px;
}

div.checker, div.checker input, div.checker span {
	width: 19px;
	height: 19px;
}

div.checker, div.radio, div.uploader {
	position: relative;
}

div.button, div.button *, div.checker, div.checker *, div.radio, div.radio *, div.selector, div.selector *, div.uploader, div.uploader * {
	margin: 0;
	padding: 0;
}

div.button, div.checker, div.radio, div.selector, div.uploader {
	display: -moz-inline-box;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}

#cardForm .card{
	padding: 25px;
	margin-bottom: 20px;
	border: initial;
	background: #fff;
	border-radius: calc(.15rem - 1px);
	box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}